<nav class="navigation">
    <div class="navigation-content">

        <input type="checkbox" id="responsive-menu">

        <a href="#" class="brand">
            <img class="brand-img" src="./svg/brand.svg" alt="brand">
        </a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit">Submit</button>
            </form>
        </div>

        <ul class="navigation-list">

            <li>
                <a href="#" class="pro">
                    <img class="navigation-icon-svg" src="./svg/conversacion.svg">
                    Prueba ser <span>PRO</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="navigation-icon-svg" src="./svg/shuttle.svg">Mensajes
                </a>
            </li>
            <li>
                <a href="index.html" class="login-button">Regístrate o
                    inicia sesión</a>
            </li>
            <li>
                <a href="index.html" class="load-product-button"><img class="navigation-icon-svg"
                        src="./svg/add.svg"> Subir producto</a>
            </li>
        </ul>

    </div>
</nav>